@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@plugin "daisyui" {
	themes: light --default, winter, synthwave, forest, luxury;
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	--color-primary: #4a7043;
	--color-secondary: #8b5e3c;
}

body {
	font-family: "Inter", sans-serif;
}

a.active {
	@apply text-primary underline;
}
